[2019-08-29 16:32] nderjung opened #2 "Directory rename"
Since this is early on in the project,  I am opening this issue to discuss the naming conventions of current directories, I propose:

* `automatic_build_tool` -> `build`
* `dependency_analysis_tool` -> `depends`
* `utils_toolchain` -> `utils`

This may seem somewhat pedantic but it makes for neater URI on imports and follows the [Go convention](https://golang.org/doc/effective_go.html#package-name

[2019-08-29 16:37] nderjung opened #3 "Run only the verification tool"
Opening an issue for the yet implemented `--verif` flag.

Relevant code segment:
https://github.com/unikraft/tools/blob/a980ea5f42b41b0487b76c0b93c698a9eec9547e/main.go#L134-L136

[2019-08-29 16:38] nderjung opened #4 "Run only the performance tool"
Opening an issue for the yet implemented `--perf` flag.

Relevant code segment:
https://github.com/unikraft/tools/blob/a980ea5f42b41b0487b76c0b93c698a9eec9547e/main.go#L138-L140

[2019-08-29 17:17] nderjung opened #5 "Automatically download unikraft (and libraries)"
The goal of this project is to succinctly decrease the development time that arises from the creation of unikernels so much so that the entire process is abstracted away from the developer.  To this end, the tool also largely targets operators who deploy software.  In this issue I propose also downloading `unikraft/unikraft` as well as any auxiliary libraries in aim of decreasing the overhead in b

[2019-08-29 19:12] gaulthiergain commented on #5
Yes, it is the idea of Unikraft/UNICORE. Its purpose is to help users by considerably decreasing the development time that arises from the development of unikernels. It will include a set a tools to gather dependencies from existing application(s) and build a unikernel for one or multiple target platform(s) (e.g., a hypervisor such as Xen or KVM). Furthermore, the tool will use the dependencies to

[2019-08-29 19:13] gaulthiergain commented on #2
Hi @nderjung, interesting remark. I will do it in next commit.

[2019-08-29 19:13] #2 closed

[2019-10-18 07:21] gaulthiergain opened #6 "Add new test files"
Implementing new test files to test specific applications (cf tests folder).

[2019-11-17 19:34] gaulthiergain commented on #5
Done in the new release (0.2.0)

[2019-11-17 19:34] #5 closed

[2019-11-17 19:36] gaulthiergain opened #7 "Heuristic to detect and analyse Makefile"
Add an heuristic method to detect and extract makefile entries from an existing source application and use the extracted information within the toolchain.

More info soon.

[2020-01-27 08:57] #3 closed

[2020-02-03 09:18] nderjung opened #10 "If a file exists within the current self.path, prompt with diff using $EDITOR and provide hunk selection."
Currently, `kraft` simply overwrites any files that are present in a directory.

https://github.com/unikraft/tools/blob/33dc73b913cc23fd0952a8570657396f0f7ddfa4/kraft/app.py#L161-L184

[2020-02-03 09:22] nderjung opened #11 "Delete the build directory and configuration with `distclean`"
https://github.com/unikraft/tools/blob/33dc73b913cc23fd0952a8570657396f0f7ddfa4/kraft/cmds/cmd_clean.py#L44-L49

[2020-02-11 16:24] #10 closed

[2020-02-11 16:24] #11 closed

[2020-02-27 16:40] beriberikix opened #12 "macOS support"
**Describe the bug**
`kraft` errors when trying to use on Catalina 10.15.3. I believe this is due to changes in the default GNU libraries Apple includes.

**To Reproduce**
Steps to reproduce the behavior:

1. `kraft init -a helloworld my_unikernel`
2. `kraft configure -m x86_64 -p kvm`
3.  Output:
[code]

**Expected behavior**
An initialized unikernel.

**Additional context**
If macOS isn't curren

[2020-02-27 17:13] beriberikix commented on #12
I installed a few of the needed packages view `brew` and added them to my path per [SO](https://apple.stackexchange.com/questions/69223/how-to-replace-mac-os-x-utilities-with-gnu-core-utilities):

[code]

I'm now running into a clang error when I try `kraft up`:

[code]

jonathanberi:my_unikernel 🚀 $ clang -v
Apple clang version 11.0.0 (clang-1100.0.33.16)
Target: x86_64-apple-darwin19.3.0
Thread

[2020-02-27 18:31] beriberikix commented on #12
I tried installed `gcc` from `brew` and setup some aliases:

[code]

However, I'm still seeing the clang error. It might be related to the gxx includes. I'm trying to parse the main Makefile, wish me luck 😂.

Here's the full output:
[code]

[2020-03-04 17:53] salerio-gs opened #13 "Running kraft in Docker"
**Describe the bug**
I pulled the kraft package from Github with docker and tried to run it. It runs OK, but where does it put the files? Is there any doc showing how to map local directories into the container?

[2020-03-05 08:10] nderjung commented on #13
Hi Peter,

If you do not mount the container to a directory it will only create artifacts within the container itself.

Try:
[code]

Inside the container, everything will be located at `/usr/src/unikraft`.  Outside the container, this folder is mounted to `$(pwd)/unikraft`.

[2020-03-05 08:17] salerio-gs commented on #13
Hi, many thanks. I sort of got half way to working that out but now its clear.

[2020-03-05 08:17] #13 closed

[2020-04-21 12:14] sartakov opened #14 "Can I use networking with linuxu?"
Dear developers

I am playing with Unikraft and wondering, is there any way to communicate with network applications (like Redis) on top of linuxu? It seems that networking is available only in a virtual environment...

Thank you

[2020-04-28 14:00] gabx opened #15 "Kraft commend returns error"
**Describe the bug**
When running `$ kraft init` or `kraft list`, output give an error.

**To Reproduce**
Steps to reproduce the behavior:

[code]
Same output with `kraft list`

**Desktop (please complete the following information):**
[code]

[2020-04-29 08:02] nderjung commented on #15
Hi @gabx, have you tried the [`staging`](https://github.com/unikraft/kraft/tree/staging) branch?  Updates are pushed to this until we release `v0.5.0`.

[2020-04-29 08:03] #4 closed

[2020-04-29 13:07] gabx commented on #15
No, I will give a try thus,

[2020-04-30 12:47] #15 closed, assigned to gaulthiergain

[2020-04-30 13:05] gabx commented on #15
why did you close it? I haven't give a try at the staging branch yet.

[2020-05-04 19:11] hassanov112 opened #16 "Kraft can't run in background"
Hi, it seems like there is a problem with `Kraft run`, when trying to run it in the background, it works as intended if you run it without the -X command.

The problem as I understand it is that Kraft sends `-X`to `qemu` which uses `-x` instead for background execution. Is there a fast fix for it?

I get this error when I run
`sudo kraft run -p kvm -m x86_64 -X`

[code]

[2020-05-06 15:51] nderjung commented on #16
Hi @hassanov112, I've confirmed your error.  I'll push a fix to this to staging branch.  I'll update the thread when this has been done.

For now, simply use the `--dry-run` flag on `kraft run` and modify accordingly.

[2020-05-06 15:56] #16 closed, assigned to nderjung

[2020-06-04 16:53] skuenzer commented on #14
Hi,

we are in the process of upstreaming an TAP driver soon. This one will enable networking in linuxu environments.

Thanks,

Simon

[2020-06-05 09:22] sartakov commented on #14
thanks

[2020-06-05 09:22] #14 closed, assigned to nobody

[2020-06-05 09:24] sartakov opened #18 "CLANG/LLVM support"
Hi

currently, the building system is based on GCC. Do you have plans to support CLANG/LLVM?

[2020-06-05 09:27] nderjung commented on #18
Hi @sartakov,

Yes, [there is currently on-going work to support `clang`](https://patchwork.unikraft.org/patch/737480/).  When this becomes more stable it will make its way into the `kraft` tool itself via parameterization.  [This is currently planned](https://github.com/unikraft/kraft/projects/2#card-37444034).

Thanks

[2020-06-05 09:38] sartakov commented on #18
great!

[2020-06-05 09:38] #18 closed, assigned to nobody

[2020-06-30 02:09] dpadula opened #19 "kraft list -n not showing all the options"
**Describe the bug**
I've cloned an installed kraft in the way showed here: https://github.com/unikraft/kraft with pip3

but when I run

kraft list -n

it is not showing all the options

**To Reproduce**
In this video: https://ftp.osuosl.org/pub/fosdem/2020/K.4.601/uk_unicraft.mp4 more ARCHITECTURES and PLATFORMS are showed (I'm interested in linuxu)

Here is the list in my VM
root@node0:~/.unikra

[2020-06-30 08:08] nderjung commented on #19
Hi, `kraft list -n` pages all the result, so you may have to use the space bar to view more.  What happens when you omit `-n` ?

[2020-06-30 11:19] dpadula commented on #19
Hi, thank you very much for answer so quickly! I guess, the (real) problem is:

I guess I tried with an -n option.

You'll see, I've cloned from here and I've tried to reproduce the steps in the video (https://ftp.osuosl.org/pub/fosdem/2020/K.4.601/uk_unicraft.mp4) but the message  when I try to follow the steps in "kraft configure -n" command, is: "unikraft Target architecture (x86) is currently

[2020-06-30 11:26] nderjung commented on #19
Ah i see,

This video is slightly out of date.   I'm in the process of refactoring some of kraft which means there are some bits that are not upstream and so it may be best to work from this known working version of kraft and then i can give you concrete instructions:

[code]
Hope this helps :)

For now if you are relying on `kraft.yaml` file, you need to add any additional kconfig options you tog

[2020-06-30 12:08] dpadula commented on #19
Hey thanks Alexander! I promise I'll try this later. I have some questions now:
1) Can I ask you in the future how would I know from what patch "99cdb90d76c73c74b3b66995ca64a8aad49e6b58" clone kraft?
2) In my case, Debian 9 (stretch), do I must install some special package for menuconfig works?

Thanks again man!
Cheers
Diego

[2020-06-30 15:07] nderjung commented on #19
So this version was just the one i have working.  I'll be upstreaming more soon to master so we have something stable.

Also  for the menuconfig to work (from the `README.md`):

[code]

[2020-07-01 01:24] dpadula commented on #19
Hey Alexander, I'm testing your instructions and so far so good until kraft list --update.

root@node0:~# kraft list --update
Traceback (most recent call last):
  File "/usr/local/bin/kraft", line 11, in <module>
    load_entry_point('unikraft-tools===0.4.0-34-g62f6520', 'console_scripts', 'kraft')()
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 561, in load_entry_point

[2020-07-01 03:34] dpadula commented on #19
I think the problem is I used pip3 (python 3.5). Now I installed and used python 3.7 and it seems to be working but the packages ad libs are the same.

CORE                    RELEASE LAST CHECKED
unikraft                0.4     3 hours ago

PLATFORMS               RELEASE LAST CHECKED
solo5                   0.4     3 hours ago
aws                     0.4     3 hours ago
gcp                     0

[2020-07-01 07:15] nderjung commented on #19
Are you, by chance, running a 32bit VM?

[2020-07-01 11:53] dpadula commented on #19
Uhmmm, yes. I'm afraid so. Is that a problem ?

[2020-07-01 13:11] nderjung commented on #19
This mode has not been properly tested with kraft yet. For now, it may be worth either switching to a 64-bit vm, or try using Unikraft [in a more verbose manner](http://docs.unikraft.org/users-advanced.html).

[2020-07-01 13:22] dpadula commented on #19
Oh I see, ok I'll try this and I'll let you know.
It is very kind of you to have dedicated your time to me and this topic.

Thanks again
Cheers

[2020-07-01 13:41] nderjung commented on #19
No problem :)

[2020-07-01 13:41] #19 closed, assigned to nobody

[2020-08-15 15:57] hack3rcon opened #23 "CPP and "wchar.h" error."
Hello,
When I run `kraft up -m x86_64 -p xen helloworld-cpp` then it show me below error:
`build/libcxx/origin/libcxx-7.0.0.src/include/wchar.h:119:15: fatal error: wchar.h: No such file or directory
  119 | #include_next <wchar.h>
      |               ^~~~~~~~~
compilation terminated.`
But my system has "wchar.h" file:
`$ ls /usr/include/ | grep "wchar.h"
wchar.h`

How can I solve it?

Thank you

[2020-08-15 16:03] hack3rcon opened #24 "Xen Project and Unikraft."
Hello Unikraft team,
The Xen Project is in the frontline of the Unikernel projects, but why the team working on the KVM? I can remember that the Unikraft introduced by Xen Project!
Please improve Xen supporting.

Thanks.

[2020-09-07 18:12] rodrigoferrazazevedo opened #25 "Raspberry Pi 3 and 4 error"
I am trying to run a app in Raspberry Pi 3 and 4 but I am receiving the error "TypeError: not all arguments converted during string formatting" after "$ kraft up -p kvm -m arm64 python3".

I tried in NVIDIA Jetson Nano and work well.

[2020-10-07 15:51] nkcr commented on #12
struggling with the same. Is there any plan to support MacOS ?

[2020-10-07 15:56] nkcr opened #28 "Missing dependencies "feedparser" and "semver""
**Describe the bug**
The kraft cli complains with `ModuleNotFoundError: No module named 'feedparser'` and `ModuleNotFoundError: No module named 'semver'` on a fresh install.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the setup instructions on a fresh new Ubuntu server 20.04.1 machine
2. Run `kraft -h`

**Expected behavior**
Should see the kraft help

**Desktop (please complete th

[2020-10-07 15:59] nderjung commented on #28
This has been confirmed and will be released in upcoming changes.

See https://github.com/unikraft/kraft/pull/26/commits/f66b654d234302519dffc4a60abfa0ea5a5a2fad

[2020-10-08 11:43] nkcr opened #29 "Fails with "kraft up""
Trying to use this example with `kraft up -F -p kvm -m x86_64 helloworld-go` from a virtual machine running ubuntu server 20.04.1 I get the following:

[code]

and `/run/qemu-guest-13551_monitor.socket` does not exist.

(if I use the `--background` option, the process is created but I don't know where to get the Unikernel's output)

[2020-10-08 11:50] nderjung commented on #29
[This is a bug with `socat`](https://bugs.launchpad.net/ubuntu/+source/socat/+bug/1883957).  Downgrading to a slightly earlier version worked with me when I had this problem. 🙂

[2020-10-08 12:48] nkcr commented on #29
Great, thank you for the prompt answer :). I made a step forward using `socat 1.7.3.4`.
Now this is what I get:

[code]

[2020-10-08 12:53] nderjung commented on #29
No worries. Looks like you have another different issue on your hands ;).

Closing as issue resolved.

[2020-10-08 12:53] #29 closed, assigned to nderjung

[2020-11-25 18:37] rodrigoferrazazevedo commented on #25
Hi,

I had like to help with this issue. I have Raspberry Pi 2, 3 and 4, and other boards here to test. I already forked this project to start.

[2020-11-25 18:48] nderjung commented on #25
Hi,

We're in the process of releasing a new version of kraft, you can try an experimental version:

[code]

[2020-12-02 15:15] rodrigoferrazazevedo commented on #25
Thanks.

I'm using Unikraft on my master's degree thesis, but I'm finding problems and doubts during tests with Unikraft and NVidia Jetson Nano.

There is any online group to discuss these doubts?

[2020-12-02 18:46] nderjung commented on #25
Hi @rodrigoferrazazevedo,

If you email the mailing list <minios-devel@lists.xenproject.org> with your initial concerns, I can then see your email address and then add you to our mattermost.

[2020-12-02 18:54] rodrigoferrazazevedo commented on #25
Done! Thanks.

[2020-12-14 22:08] #28 closed, assigned to nderjung

[2020-12-14 22:29] skyhisi opened #31 "Kraft fails due to old feedparser library on python 3.9"
Running kraft on Python 3.9 fails due to it using an old version of feedparser.

[code]

**Work around**
Updated feedparser, seems to work (although I'm just testing this project for the first time)
[code]

**Desktop:**
 - OS: Fedora 33
 - Version: Kernel 5.9.12-200.fc33.x86_64
 - Python: 3.9.0

[2020-12-14 22:59] skyhisi opened #32 "Kraft "configure" command fails on Fedora Linux as the default yacc is Berkley Yacc not GNU Bison"
**Describe the bug**
When `kraft configure` is run for the first time it builds kconfig, this uses the default system `yacc` which on Fedora 33 is Berkley Yacc not GNU Bison, but passes the Bison specific option `-W`.

[code]

**Work around**
Install `bison` package (`sudo dnf install bison`), then manually run the failing make command and override the use of yacc by passing `YACC=bison`, e.g:
[co

[2021-01-18 12:10] nderjung opened #33 "Generate ramfs image if directory provided"
If you pass `-i` to `qemu-guest` for the initramfs, and if its actually a directory, it should implicitly generate the ramfs image with:

[code]

**Additional consequences:**

 * To include `bsdcpio` in the Docker image.

**Awaiting:**

 * [#1151](https://patchwork.unikraft.org/project/unikraft/list/?series=1151&state=*) to be upstreamed.

[2021-01-25 09:35] faerbersteve opened #34 "Install issue on Ubuntu 20.04"
**Describe the bug**
The installation fails on fresh installed Ubuntu 20.04 when following the get started steps with the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Installation completes

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04, fresh install

**Solution**
[code]

[2021-01-25 09:37] nderjung commented on #34
Hi,

Please try the `staging` branch of kraft, I believe this issue has already been resolved and will be merged into stable soon.

[code]

Thanks

[2021-01-25 11:37] nderjung opened #35 "Check changes to `kraft.yaml` before build"
When the `kraft.yaml` file is manually changed and the developer does not re-run `kraft configure` and simply jumps to `kraft build`, kraft should check if the changes are different from the local `.config` and prompt the developer whether they would like to re-configure so as to enable these changes.

[2021-01-25 11:39] nderjung opened #36 "Prompt to update `kraft.yaml` after exiting menuconfig"
If a developer has made changes to the configuration of the unikernel following a manual edit via `kraft configure -k`, when the menuconfig exits, kraft should prompt suggesting changes to the `kraft.yaml` file.

[2021-01-27 18:08] faerbersteve commented on #34
Thank you
`pip3 install git+https://github.com/unikraft/kraft.git@staging`
solved it.

Now I have further issues when creating the helloworld app.
When following the two last steps of the readme (of the helloworld repo) I receive the following issue.
I added the -t in the kraft up command as it was missing.
[code]
Could you please help me further?

[2021-01-27 18:12] nderjung commented on #34
Hi, awesome :)

Please open up a new issue where we can then work on a fix for this.  Thanks!

[2021-01-27 18:12] #34 closed, assigned to gaulthiergain

[2021-01-27 18:23] faerbersteve opened #37 "Getting started issue"
**Describe the bug**
I have issues when creating the helloworld app.
When following the two last steps of the readme (of the helloworld repo) I receive the following issue.
I added the -t in the kraft up command as it was missing.
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Runs without issue

**Desktop (please complete the following information):**
 - U

[2021-01-28 09:54] faerbersteve commented on #34
Sorry, the issue is not solved in the staging branch.
I tried it again with `sudo pip3 install git+https://github.com/unikraft/kraft.git@staging` and got the same issue.

[2021-01-28 11:10] nderjung commented on #34
Did you still have to install these dependencies manually using pip or were you running into an issue with the `kraft up` command?

[2021-01-28 11:14] nderjung commented on #34
I ran:
[code]
and had no problems

[2021-01-28 15:20] faerbersteve commented on #34
I am not using docker.
I run all commands in my Ubuntu 20.04 environment.
Yes I had to install those dependencies manually.
I received the same issue which I mentioned in my first comment

[2021-01-29 10:34] faerbersteve commented on #34
Today I have setup a new ubuntu 20.10 vm for developing.
There the installation of kraft works fine.
It was not necessary to install the additional packages.

[2021-01-29 10:43] faerbersteve commented on #37
I tried this also in a ubuntu 20.10 environment.
The issue occurs there too.

Is there any workaround for this issue?
I tried to add -v and --version but the error still happens

[2021-01-29 10:45] nderjung commented on #37
This a confirmed bug, I will look into it :)

[2021-02-24 11:15] marcrittinghaus commented on #37
I have a similar issue when running kraft for the helloworld app on Ubuntu 20.04.02 (Python 3.8.5)

[code]
The same error can be observed with the other kraft commands such as `kraft configure` when working with a manually cloned version of the `app-helloworld` repository.

The problem is that `kraft.yaml` specifies the `unikraft` option as version string (in accordance with `specification_v0.X.js

[2021-02-24 11:17] nderjung commented on #37
Hi!

I ran into the same issue and just fixed this this morning :)

Please checkout latest stagning

[2021-03-08 15:46] nderjung commented on #37
Closing this issue because I think it's been completely resolved now in `staging` with recent changes.  :)

[2021-03-08 15:46] #37 closed, assigned to gaulthiergain

[2021-03-09 17:41] Babbleshack opened #38 "Package as OCI-Image"
**Is your feature request related to a problem? Please describe.**
The OCI-Image spec encapsulates manifests and blobs required for building a container filesystem bundles.
Unikraft kernels should be packages as OCI-Image so we can share unikernels across OCI compatible repositories such as dockerhub/quay and oras. This would allow container runtimes to pull our images -- a custom runtime may be d

[2021-03-24 08:12] nderjung opened #44 "Use mirroring service for microlibraries"
Use the mirroring service for micro-library source origin's hosted at https://releases.unikraft.org/mirrors.

This can be accomplished by retrieving the filename from current origin, at `LIB${LIBNAME}_URL`, and replacing the rest of the URL with the naming format `https://releases.unikraft.org/mirrors/libs/${LIBNAME}/${FILENAME}`.

[2021-03-28 13:28] apapsch opened #45 "Light colors in light console"
**Describe the bug**
Kraft uses light color codes for normal output, which doesn't play nice in light consoles.

**To Reproduce**

1. Open a console with light background.
2. Execute kraft.

**Expected behavior**
Kraft should use an alternative color code or not any at all for normal output.

**Screenshots**
![Screenshot_20210328_152354](https://user-images.githubusercontent.com/13748675/112753862

[2021-04-30 14:45] #44 closed, assigned to nobody

[2021-04-30 14:56] nderjung opened #57 "kraft fails to build arm64 images in container environment"
The [kraft container environment](https://github.com/unikraft/kraft/blob/staging/package/docker/Dockerfile.kraft) is the environment where all the tools are provided for building unikraft unikernels, including the kraft program itself.  W.r.t. this issue, it also includes [baked compiled  version of `gcc`](https://github.com/unikraft/kraft/blob/staging/package/docker/Dockerfile.gcc) for Unikraft's

[2021-05-03 08:11] hisharanwithu commented on #57
The error is related to the way aarch64 gcc toolchain is built and packaged into the container. We miss taking in some of the necessary file from directories like ` aarch64-linux-gnu-*/`. One way to fix this would be while performing `configure` set the correct install path and let the gcc build system to copy the necessary files to the expected thereby we don't miss any files.

[2021-05-11 10:52] Babbleshack opened #59 "kraft list update returns error"
**Describe the bug**
readme first instruction indicates a user should run `kraft list update`. When I do this kraft returns an error.

**To Reproduce**
`kraft list update`

**Expected behavior**
Update list of available archs, plats and apps

**Screenshots**
[code]
**Desktop (please complete the following information):**
[unikraft/kraft:latest](https://hub.docker.com/r/unikraft/kraft)

[2021-05-11 10:52] Babbleshack opened #60 "Kraft attempts to make a http request against a file path when updating caches"
**[**Describe** the bug**
Whilst trying to build a kernel using `kraft up` and `kraft build`, kraft will attempt to make a http get request to a file path.

**To Reproduce**
run `kraft up` or `kraft build`

**Expected behavior**
built unikernel project

**Screenshots**

[code]

**Desktop (please complete the following information):**
[Unikraft docker image ](https://hub.docker.com/r/unikraft/kraft

[2021-05-12 08:25] #60 closed, assigned to gaulthiergain

[2021-07-22 08:59] razvanvirtan commented on #57
Apparently the toolchain built in the container is always trying to use `/bin/as` as the assembler, even if we try to compile an ARM64 image. This causes that `-EL` error.
I've tried to link `/bin/as` to `aarch64-linux-gnu-as` (just for testing) and the `-EL` error disappeared. However, the following error was generated at linking: `ld: cannot open linker script file ldscripts/aarch64elf.xr: No su

[2021-07-22 09:01] nderjung commented on #57
Ok cool, thanks for checking this out!

Could you put together a PR together with fixes and also the linaro toolchain which integrates into the build process of the kraft container?

Probably the linaro toolchain needs its own Dockerfile, an appropriate target which catches the target arch so builds the right image

[2021-07-22 09:10] razvanvirtan commented on #57
Sure, I'll find a way to integrate it.
Also, we will need to fix the condition here: https://github.com/unikraft/kraft/blob/29c6fba81b885d5fb3b5d2dc76b976644828df30/kraft/plat/runner/kvm.py#L70
because trying to enable hardware acceleration for ARM64 on a x86 host will cause `kraft run` to fail.

[2021-07-22 13:56] nderjung commented on #57
So this comment needs to be uncommented?

[2021-07-23 08:32] farif opened #63 "Failed to Parse Error"
**Describe the bug**
Bug is reported after installing kraft a user run the following command:
'kraft list update'

**Error message**
[CRITICAL] Failed to parse: https://api.github.com:443/repos/unikraft/unikraft

[2021-07-23 09:41] razvanvirtan commented on #57
Yes, and we should add `import platform` at the beginning of `kvm.py`. I'll come with a PR after I integrate the linaro toolchain in the container configuration.

[2021-07-23 15:16] nderjung commented on #63
Hey @farif!

Could you provide a few more detaiils please about your problem, e.g. by trying with `kraft -v list update`.

Also, have you set your Github access token via the environmental variable `UK_KRAFT_GITHUB_TOKEN` ?

[2021-07-23 15:16] #59 closed, assigned to gaulthiergain

[2021-07-23 15:16] #38 closed, assigned to nobody

[2021-07-23 15:41] farif commented on #63
Hi Alex, thank you for your prompt response.
Here is the what I get after running command with 'v'

[DEBUG   ] Synchronizing cache with filesystem...
[INFO    ] Using direct repository: http://github.com/unikraft/unikraft.git
[CRITICAL] Failed to parse: https://api.github.com:443/repos/unikraft/unikraft
[CRITICAL] Traceback (most recent call last):
  File "/home/farif/.local/lib/python3.8/site-pac

[2021-07-30 07:28] ghost opened #66 "kraft up hangs for indefinite period of time"
**Describe the bug**
kraft up hangs for indefinite period of time to proceed to next step.

**To Reproduce**
Run `kraft up -t nginx@staging my-nginx-unikernel`.

**Screenshots**
[code]

It took about 10 minutes to get the next lines of the outputs and to start build:
[code]

Even worse, every time I rerun the command I the same problem repeats over and over.

**Desktop (please complete the followi

[2021-07-30 08:01] ghost opened #67 "libvfscore: Unable to mount /"
### Describe the bug

When running nginx, libvfscore cannot mount /, hence cannot boot.

### Steps to reproduce

I simply followed the standard (according to current documentations) steps:
[code]

### Expected behavior

I expected the root file system mount successfully and be able to run nginx.

### Which architectures were you using or does this bug affect?

x86_64

### Which platforms were you

[2021-08-09 22:50] BeardPower opened #68 "Kraft failes to update"
**Describe the bug**
Calling "kraft list update" results in a critical error.

beardpower@develop:~/.unikraft/apps/app-helloworld$ kraft list update
[INFO    ] Using direct repository: https://github.com/unikraft/unikraft.git
[INFO    ] Found core/unikraft via https://github.com/unikraft/unikraft.git...
[INFO    ] Populating via wildcard: http://github.com/unikraft/plat-*
[CRITICAL] HTTPSConnectio

[2021-08-16 07:49] gingiskan222 commented on #67
Hello,
I'm experiencing the same behavior and can't run the nginx-app nor the python3-app example.

Command I've tried too:

`qemu-system-x86_64 -vga none -nographic -device sga -kernel build/app_kvm-x86_64 -enable-kvm -fsdev local,security_model=passthrough,id=hvirtio0,path=/home/***/nginx-vlltlinux/app/fs0,security_model=none -device virtio-9p-pci,id=fs0,fsdev=hvirtio0,mount_tag=fs0 -machine q35

[2021-08-17 09:24] gingiskan222 commented on #67
I was able to run nginx and get the rootfs mounted, looking at [eurosys21](https://github.com/unikraft/eurosys21-artifacts/blob/master/experiments/txt_02_9pfs-boot-times/run_kvm.sh) with the command

[code]

But it get an other error and nginx is not starting

[code]
I edited my .conf file to:

[code]

[2021-08-25 05:19] razvand opened #71 "9pfs mounting doesn't work with `kraft run`"
**Describe the bug**

A 9pfs configuration in the `kraft.yaml` file, similar to the one below, isn't used correctly by `kraft run`:

[code]

The comparison on [this line](https://github.com/unikraft/kraft/blob/staging/kraft/app/app.py#L503) fails:

[code]

preventing the filesystem from being mounted (i.e. the `runner.add_virtio_9pfs(path)`) isn't called.

What worked for me was replacing [the tro

[2021-08-25 05:47] razvand commented on #71
A similar comparison happens in the [`automount()` function in `runner.py`](https://github.com/unikraft/kraft/blob/staging/kraft/plat/runner/runner.py#L212) but this seems to be only used for a dry run. I think this should be fixed as well.

[2021-08-25 05:49] razvand commented on #67
@42kernel , could you please check if the fix I proposed in #71 fixes your problem with nginx? I'm wondering if the issue is the same.

[2021-09-13 17:12] bdunbar opened #73 "Kraft name value uppercase fails"
### Describe the bug

Fails:
[bdunbar@hilda uk]$ kraft up -t helloworld -m x86_64 -p kvm HELLOWORLD

Success:
[bdunbar@hilda uk]$ kraft up -t helloworld -m x86_64 -p kvm helloworld

OS:
Linux 5.13.12-arch1-1 x86_64

Question: is this a bug or expected behavior?

### Steps to reproduce
[code]
### Expected behavior

[code]

### Which architectures were you using or does this bug affect?

x86_64

###

[2021-09-18 06:27] WysokiStudent opened #74 "Cannot run hello world"
**Describe the bug**
I wanted to try out unikraft but I can't run the hello world example.
`kraft up -t helloworld@staging ./my-first-unikernel`
results in an error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `pip3 install --user git+https://github.com/unikraft/kraft.git@staging`
2. mkdir unikraft
3. cd unikraft
3. UK_KRAFT_GITHUB_TOKEN=<secret_token> kraft list update
4. kraft up

[2021-09-18 07:27] WysokiStudent commented on #74
Since my locale is polish in line 66 of op.py the variable line is `b"make: Wej\xc5\x9bcie do katalogu '/home/zannzetsu/.unikraft/unikraft'\n"`
That seems to fail in the next line where decode('ascii') is run.
If i replace 'ascii' with 'utf-8' hello world builds but kraft errors out with
[code]
Indeed there is no such file, the file is named `my-first-unikernel_kvm-x86_64`.

Here is the ascii -> u

[2021-09-18 07:33] WysokiStudent commented on #74
If I run the kraft like `kraft up -t helloworld@staging ./helloworld` then hello world works :) Please update the docs or kraft.

[2021-09-29 20:17] #74 closed, assigned to gaulthiergain

[2021-10-30 07:41] gabrielmocanu opened #80 "Kraft failes with list index out of range"
**Describe the bug**
Right now if you are trying to run the **hello-world** application you will end up with **list index out of range** error. This can be for all applications if the name of the directory of the application is different from the name of the application from **kraft.yml**.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone git@github.com:unikraft/app-helloworld.git
2.

[2021-10-30 08:33] gabrielmocanu commented on #80
After creating the pull request I was thinking also of something else.
Why don't `kraft build` create by default the unikernel executable as the naming convention from `kraft.yaml`.

So for example:
If we have `app-A`, after `kraft build` we will have the unikernel executable `app-A_x86-64`, even though in the `kraft.yaml` file we have the application name only 'A'. I think it's better to use only

[2021-10-30 10:36] gabrielmocanu commented on #68
Hi @BeardPower

You need to create a GitHub personal access token by following [these instructions](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token). Then, use the following command:

[code]

You can find also this information [here](https://usoc21.unikraft.org/docs/sessions/01-baby-steps/#00-manual-kraft-installation)

[2021-10-30 10:59] gabrielmocanu opened #83 "Create application with name from `kraft.yaml`"
**Describe the bug**
Right now when you build an application it will use the name convention from the parent directory of that application, instead of using the name from `kraft.yaml`. This bug also caused this problem #80 .

**To Reproduce**
Steps to reproduce the behavior:
1.git@github.com:unikraft/app-helloworld.git
2. cd app-helloworold
3. kraft configure -p kvm -m x86_64
4. kraft build

**Exp

[2021-10-30 11:01] gabrielmocanu commented on #80
I create another issue for what I told you before.(#83)
But I think the PR from this issue is still relevant because it basically treats a possible error there.

[2021-10-31 19:47] nderjung opened #84 "Add task to re-generate pipelines on staging and stable"
The CI/CD pipeline needs to be regenerated and applied when a merge into `staging` or `stable` occurs such that the pipeline is reflected accurately with the new changes.  Once the re-generation occurs, the new pipeline should be used for `stable`, `staging` and all PRs.

[2021-11-12 17:55] ntwerdochlib commented on #63
Any feedback on this?  I am running into the same issue, but only on one of my systems, all of which are running Linux Mint 20 Ulyana

UPDATE:
I found that on the system having this issue, urllib3 1.25.8 was installed.  Upgrading this to 1.26.7 corrected the issue for me.

[2021-11-21 10:20] razvand opened #85 "Large initial time taken for `kraft build`"
**Describe the bug**

When running `kraft build` for the first time for a given application (such as [app-micropython](https://github.com/unikraft/app-micropython)) (after running `kraft configure`), it takes some time (about 1-2 minutes). Everything else goes smooth. This has only recently happened.

Subsequent calls to `kraft build` are fine. However, if `kraft clean -p` is issued (cleaning the

[2021-11-29 10:30] nderjung opened #87 "Some tests are failing because `bindgen` is not installed in the CI/CD image."
Some tests are failing because `bindgen` is not installed in the CI/CD image.

_Originally posted by @vladandrew in https://github.com/unikraft/unikraft/issues/348#issuecomment-981476577_

[2021-12-19 08:37] sktzwhj opened #90 "ARM64 + KVM configure error"
### Describe the bug

The example app helloworld cannot be configured.

### Steps to reproduce

kraft init -t helloworld hello

kraft configure -m arm64 -p kvm
I also tried to give linuxu as the platform option, errors are the same.

### Expected behavior

I expected the unikernel to be configured and compiled before running.

### Which architectures were you using or does this bug affect?

_No re

[2021-12-29 17:23] byteshiva opened #89 "How can I install kraft on Android phones"
Will i able to install kraft on Android phones ?

[2021-12-30 17:17] byteshiva commented on #89
I see I could use, how do I create one for arm

[code]

[2021-12-31 13:45] nderjung commented on #89
Hi @byteshiva, you are discussing three problems here, I'll try and address them for you:

 * Running `kraft` on Android.  I'm not entirely sure why you would like to do this nor will making this possible be of any immediate priority by any core maintainer.  Generally, `kraft` is intended for a standard developer environment and not for "on-the-go" devices such as phones or tablets. It's probably

[2021-12-31 13:45] #89 closed, assigned to nobody

[2022-01-16 10:21] WesleyAC opened #91 "Error: `lex: command not found` when running `kraft up` (flex is installed, NixOS)"
**Describe the bug**

When I run `kraft up -p linuxu -m x86_64 -t helloworld kraft-test` on NixOS, I get the following error:

[code]

I am building on NixOS. I am using `poetry` to install the staging version of `kraft`. I have `flex` in my `$PATH` — `which flex` reports `/nix/store/jqgqy1az5x81c4vdgys8q2is5hhhr8ap-flex-2.6.4/bin/flex`. I do not have `lex` in my path, but from reading through the

[2022-01-16 10:25] vladandrew commented on #91
Hi,

I think the lex binary is needed by kconfig[1].

[1] https://github.com/unikraft/unikraft/tree/staging/support/kconfig

[2022-01-16 10:37] WesleyAC commented on #91
Ah, I see — and indeed, adding `LEX := flex` to the `Makefile.rules` in that directory appears to fix this problem. Would it be reasonable to upstream that change, or does kconfig rely on the lex compatibility mode somehow?

[2022-01-22 02:39] xymeng16 commented on #83
#73 is also related to this issue.

[2022-01-22 02:42] xymeng16 commented on #80
#73 is also related to this issue.

[2022-01-24 06:18] byteshiva opened #95 "Error: Unable to build sample kernel on Rashberry Pi"
**Describe the bug**
Unable build sample project on rashberry pi

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 uname -a
[code]
**Additional context**
Add any other context about the problem here.

[2022-02-09 12:50] TheLortex opened #96 "UTF-8 characters in subprocess output make `kraft configure` crash"
**Describe the bug**
System configured for French, I tried to follow the example guide and when running `kraft configure` I've got:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure your system in a language that might make UTF-8 characters in program outputs
2. Run `kraft configure` and select a platform

**Additional context**

It looks like it happens here:
- https://github

[2022-02-09 13:15] TheLortex opened #97 "`kraft up -t helloworld@staging ./my-first-unikernel` not working as expected"
**Describe the bug**
`kraft up -t helloworld@staging ./my-first-unikernel` is failing with:
[code]

**To Reproduce**
1. System is Fedora 35 x86
2. Run `kraft up -t helloworld@staging ./my-first-unikernel`
3. Observe the failure

**Additional context**
It works correctly if the unikernel name matches the project name, i.e. running:
[code]

[2022-02-10 08:59] antkern commented on #96
Same for me :p

Works by setting LANG=EN

[2022-02-16 12:46] byteshiva commented on #95
Please let me know if I'm missing something here?

[2022-02-19 11:43] StefanJum commented on #90
Hello! I can't seem to be able to reproduce the issue.
I tried both using `kraft configure -m arm64 -p kvm` and selecting the platform and arch from the interactive menu as shown in the log output and it successfully configures in both cases.
Can you give any extra context that would help?
Could it be an issue regarding yacc, as it shows you the usage for it in the output?

[2022-03-14 09:54] ggaaooppeenngg opened #103 "Could not find manifest: arch/x86_64@None"
### Describe the bug

Failed to run configure

### Steps to reproduce

❯ kraft configure
kraft caches are out-of-date. Would you like to update? [Y/n]: Y
[INFO    ] Using direct repository: https://github.com/unikraft/unikraft.git
[INFO    ] Found core/unikraft via https://github.com/unikraft/unikraft.git...
[INFO    ] Populating via wildcard: https://github.com/unikraft/plat-*
[ERROR   ] GitHub r

[2022-03-15 13:34] wysisoft opened #101 "Problems getting started on Ubuntu?"
on a fresh minimal install of ubuntu 20.04, per https://github.com/unikraft/kraft I run
**sudo** apt-get install -y --no-install-recommends build-essential libncurses-dev libyaml-dev flex git wget socat bison unzip uuid-runtime;

then I try to run
pip3 install git+https://github.com/unikraft/kraft.git@staging

but pip3 isnt installed so I run
sudo apt-get install python3-pip

then I run
pip3 insta

[2022-03-16 12:06] #87 closed, assigned to nobody

[2022-03-16 12:30] #96 closed, assigned to gaulthiergain

[2022-03-16 15:31] i3abghany commented on #101
I noticed that by installing kraft using pip you get in `~/.local/bin`. Consider adding this to your path and see if this solves the problem.

For the access token issue, you'll need to generate a Github token, give it repo:public_repo access, and export it as the environment variable UK_KRAFT_GITHUB_TOKEN and rerun kraft.

[2022-03-16 15:46] StefanJum commented on #101
You can find details on generating and using the GitHub access token [here](https://usoc21.unikraft.org/docs/sessions/01-baby-steps/#00-manual-kraft-installation). Also check out the [documentation](https://unikraft.org/docs/usage/init/) on creating and running an app with kraft. If you don't find a solution there, please provide some more output (e.g. the structure of your working directory, the

[2022-03-16 15:49] wysisoft commented on #101
Is it fair to ask for the "getting started" guide to add in the sudo portions and pip3 installation step?

I notice that the command **export UK_KRAFT_GITHUB_TOKEN=token kraft list update** works for me, so I get past this problem.

I also notice that when downloading a template such as helloworld or httpreply that I need to browse into the /home/user/.unikernel/apps directory and run kraft build/

[2022-03-16 16:08] i3abghany commented on #101
Probably using `kraft up -t template_name@branch template_name` will get you started. If you follow the tutorial on USoC 2021 website and try `kraft up -t helloworld@staging ./my_first_unikernel`, it won't work for some reason. It works when you give app the same name as the template.

[2022-03-16 16:13] StefanJum commented on #101
I will look into updating the installation and first usage details on the documentation website.

Yes, you need to be in the app directory when running the kraft commands, not necessarily the `.unikraft/apps` directory, but the one where you download the app into. `kraft` will look for the unikraft core and libraries in the `../../unikraft` and `../../libs` directories unless specified otherwise b

[2022-03-17 07:34] #85 closed, assigned to nderjung

[2022-03-17 07:34] #71 closed, assigned to nderjung

[2022-03-19 08:31] StefanJum commented on #95
From what I can see, you need to install `gcc`.

[2022-03-22 04:38] byteshiva commented on #95
`gcc` has already been installed on the machine.

[code]

[2022-03-22 04:59] byteshiva commented on #95
Still getting the same error:

[code]

[2022-03-25 19:27] adminy commented on #12
There's always docker within macos 😅 just mentioning it if you may have not considered that.

I find that this python utility is a little overengineered tbh.

[2022-03-25 20:21] skuenzer commented on #12
I would love to have native MacOS support, too. Luckily we put almost all commands as variables in the main `Makefile`. I think we just need to detect there that we are on Mac and then populate these command variables differently. Ideally they should fit with a standard `brew` installation. I also noticed that MacOS's Make is too old (at least mine). Maybe, while detecting, we can call a submake p

[2022-03-26 10:59] gabrielmocanu commented on #80
@StefanJum

Can this issue be closed since this [PR] was merged?

[PR]: https://github.com/unikraft/kraft/pull/94

[2022-03-26 10:59] gabrielmocanu commented on #83
@StefanJum

Can this issue be closed since this [PR] was merged?

[PR]: https://github.com/unikraft/kraft/pull/94

[2022-03-26 11:23] StefanJum commented on #80
Yes, I think it should be closed.

[2022-03-26 11:24] StefanJum commented on #83
Yes, we should close this.

[2022-03-26 11:25] #83 closed, assigned to gaulthiergain

[2022-03-26 11:27] #80 closed, assigned to gaulthiergain

[2022-03-27 18:55] Akilan1999 commented on #29
The bug seems to be patched in ```socat 1.7.4.1```.

"
According to the Changelog from socat-1.7.3.4[1] this is a know problem (Under certain circumstances, termios options of the first address were applied to the second address, resulting in error "Inappropriate ioctl for device"). The upstream commit[2] fixes this issue (also released in socat-1.7.3.4).

Thanks, Sascha.

[1] http://www.dest-unre

[2022-03-28 12:02] gabrielmocanu commented on #103
Hi @ggaaooppeenngg

Thank you for reporting the issue! It's pretty hard to debug because I don't know how the kraft installation was done.
Can you try to do `kraft list update` and attach the output here?

[2022-03-29 02:18] ggaaooppeenngg commented on #103
[code]

[2022-03-29 09:55] gabrielmocanu commented on #103
@ggaaooppeenngg

First, create a GitHub personal access token by following [these instructions](https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token).
(Pay attention when you generate a token to use only `public_repo` permission)

Then, use the following command:

[code]

After this you should be able to use `kraft`.

[2022-03-30 11:12] gabrielmocanu commented on #97
Hi, @TheLortex.

Can you try again after updating the `staging` branch?
This PR #94 should have solved the problem.

[2022-04-02 04:35] aiaoyang opened #104 "kraft list update 404"
**Describe the bug**
A clear and concise description of what the bug is.
when execute kraft -v list update, raise [CRITICAL] 404 {"message": "Not Found", "documentation_url": "https://docs.github.com/rest"}
**To Reproduce**
run kraft list update
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
update success
A clear and

[2022-04-02 07:16] StefanJum commented on #104
Hi, please make sure that the token ONLY has the `repo:public_repo` permissions. Also make sure to export it as `UK_KRAFT_GITHUB_TOKEN` before you run `kraft list update`, or use the command `UK_KRAFT_GITHUB_TOKEN=<your_GitHub_token_here> kraft list update`.

[2022-04-02 08:16] aiaoyang commented on #104
yes, Im sure there is only repo:public_repo permission and export UK_KRAFT_GITHUB_TOKEN has been set before I execute the kraft list update command. when token is not set,  the response show this below
<img width="699" alt="image" src="https://user-images.githubusercontent.com/21071240/161374037-a0ef3f8c-6618-4f14-bf17-5562d7f6d9bd.png">

[2022-04-04 07:57] ppttech commented on #104
I am experiencing the same issue. I set the env var before running `kraft list update` (of course) and only selected the `public_repo` option when creating the token.

[2022-04-04 23:23] amirkmzh commented on #104
I have faced the same error, And I have exactly followed the tutorial.

[2022-04-07 07:55] #104 closed, assigned to gaulthiergain

[2022-04-07 08:16] gabrielmocanu commented on #104
@amirkmzh @ppttech @aiaoyang
Can you check again? Please make sure that you re-install kraft after `git pull`.

[2022-04-11 10:18] ppttech commented on #104
@gabrielmocanu For me it is fixed now, at least `kraft list update` doesn't throw this error anymore.
Thanks!

[2022-04-11 13:15] molpo95 opened #106 "Nginx errors at startup"
**Describe the bug**
I am trying to create a nginx webserver on Unikraft.
While other unikernels seem to work for me, nginx only gives errors.

It boots, finds the config but does not read it properly then it shuts down.

Everything should have been set up according to the documentation, unless I have done something wrong.

**To Reproduce**
I have installed kraft according to the this site on ubun

[2022-04-21 10:10] janlauber commented on #103
Just saying that for me it's not working either:
[code]

[2022-04-21 13:58] nderjung commented on #103
Hi there,

you need to work inside of a project folder to use "`kraft configure`" since this is configuring your application.  For example:

[code]

or pull an existing application:

[code]

[2022-04-23 23:09] adminy commented on #95
You simply can't be building this on an arm device, as you have some hardcoded `x86_64-linux-gnu-gcc` expectation of a gcc binary in some makefile probably. You can try and pretend you have it like so:

```ln -s `which gcc` $(dirname `which gcc`)/x86_64-linux-gnu-gcc```
but its not a guarantee it'll have the same parameters, still you can try.

[2022-04-24 01:47] byteshiva commented on #95
Now it's throwing GCC error.
[code]

Is this gcc version compatible for compilation.

[code]

[2022-05-01 21:57] osmten opened #107 "Error while installing kraft on fresh fedora install"
Hi I have problem installing and using kraft on fresh fedora install. I followed following steps

I installed requirements using following step:

[code]

I then installed kraft using pip3

I then ran this command

kraft list

I got following output and  it asked for the github token ad rate limit exceeded
[code]
I then set environment variable with the github token and ran kraft list again

It doe

[2022-05-03 23:08] gabrielmocanu commented on #106
Hi @molpo95 .

From what I see in your output you are running an older version of Unikraft.
Can you update to the latest version and see if you have the same problem?

[2022-05-03 23:10] gabrielmocanu commented on #101
@wysisoft

All good now? Can we close this issue?

[2022-05-07 16:34] molpo95 commented on #106
Hi @gabrielmocanu

I tried reinstalling it fresh on a virtual machine using "pip3 install git+https://github.com/unikraft/kraft.git@staging".  It seems that it defaults to unikraft@0.5 while setting up the kernel. Have I missed a step? What is the proper way of changing the version used for the kernel?
I am sorry if I am a bother.

[2022-05-09 13:03] TheLortex commented on #97
All good, thanks !

[2022-05-09 13:03] #97 closed, assigned to gaulthiergain

[2022-05-27 12:47] xymeng16 opened #108 "A better solution when binary is not found due to the path/filename mess-up"
`kraft` uses the `name` field from `kraft.yaml` to retrieve the kernel binary file to conduct the build/run tasks. But if users use `make menuconfig` to configure the app, the default binary name would be the directory name. Such mixing up may lead to the following two confusions if the `name` field of `kraft.yaml` does not match the directory name:

-  `kraft build`:  if the configuration is corr

[2022-05-28 07:26] gabrielmocanu commented on #106
Hi @molpo95,

Unfortunately, I couldn't reproduce your behavior. A solution to get the latest changes would be to install kraft manually.
You can find a tutorial for this in this documentation. [1]

[1]: https://usoc21.unikraft.org/docs/sessions/01-baby-steps/#00-manual-kraft-installation

[2022-06-07 18:30] tonyyzy opened #110 "Support doas as an alternative to sudo"
**Is your feature request related to a problem? Please describe.**
`qemu-guest` only supports `sudo` as a way of running with root privilege. Would be good if `doas` is supported too.

**Describe the solution you'd like**
`qemu-guest` runs when `doas` is installed.

Add another conditional here:
https://github.com/unikraft/kraft/blob/b9893d7df365f5eb77d9a5e95bfc095cc90c6330/scripts/qemu-guest#L356

[2022-06-10 17:51] echo-alez commented on #103
Hi,
I had the same issue.
By running `kraft init` solved it.
Thanks

[2022-06-15 14:12] #103 closed, assigned to nobody

[2022-06-21 16:37] mmisono opened #113 ""name" field in kraft.yaml is overwritten by `kraft configure --use-version`"
**Describe the bug**
"name" field in kraft.yaml is overwritten by `kraft configure --use-version`.

**To Reproduce**
The initial state of kraft.yaml is as follows.

[code]

Then, running `kraft configure -u unikraft@staging` will overwrite the kraft.yaml as follows.

[code]

**Cause**
The local variable "name" is defined here.
https://github.com/unikraft/kraft/blob/6d046f4dd5ecd2075f927ee01df0fa4e

[2022-07-01 16:34] #45 closed, assigned to nobody

[2022-07-15 22:41] judcole commented on #107
You need to run `kraft list update` to refresh the list once you have the token in the environment!

HTH

[2022-07-16 00:24] judcole commented on #107
You also need to alias Bison to YACC:

`sudo ln -s /usr/bin/bison /usr/bin/yacc`

and while troubleshooting the virtualization I did the following to get some extra tools, but I am not sure if it actually is needed:

`sudo dnf group install virtualization`

but after those I was able to build and run helloworld.

HTH

[2022-09-25 01:42] Charles-Kaminski opened #114 "Install instructions fail"
**Describe the bug**
There are a number of places to find installation instructions: website docs, GitHub read me, Google summer-of-code blog post.  Each set of instructions is slightly different.  It would be helpful (and lower the barriers to entry) to have and maintain only one set of official installation instructions for the sake of the community users and one set for community developers.

H

[2022-09-29 00:49] Charles-Kaminski commented on #114
`pip3 uninstall kraft` didn't remove all of the files that needed to be removed in one of the installs.  This caused the issues.

I uninstalled then searched for all file with kraft in the name and manually removed them.  Then I installed using the command:
 `pip3 install git+https://github.com/unikraft/kraft.git`

Then I updated using:
 `UK_KRAFT_GITHUB_TOKEN=MyGitHubToken kraft list update`

Tha

[2022-09-29 00:49] #114 closed, assigned to gaulthiergain

[2022-10-12 08:51] zhaoxinyu commented on #90
I also meet this issue when running `kraft configure` on a kvm virtual machine. The linux distribution is CentOS 7.9.
Yacc version is `yacc - 1.9 20130304`

[2022-10-22 09:33] taugoust opened #115 "[Fedora] Build doesn't find yacc"
**Description**
The build system searches for the `yacc` executable (for `bison` functionality), but multiple systems use `yacc` to mean Berkeley yacc and `bison` for Bison.

This means that depending on the system a symlink `yacc -> bison` needs to be created.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `kraft list update`
2. Run `kraft up -t helloworld hello`
3. Get error:
[code]

[2022-10-22 09:59] ghost opened #116 "Consider adding alternative support for privilege escalation"
In the case of `sudo` not being installed there is no alternative version for privilege escalation:
`.... which: no sudo in  ....`

Alternative methods could be added.

Since I use `doas`, I've managed to find a workaround with a symbolic link for `sudo`.
In other words:
[code]

[2022-10-22 10:04] bttger opened #117 "App fails to start when binding a virtual network bridge (`could not open /dev/net/tun: No such device`)"
**Describe the bug**
The demo httpreply app fails to start when I want to bind a virtual network bridge. It works though if I just run it without bridge. The output I get is the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install kraft as descirbed in https://unikraft.org/docs/getting-started/
2. Create directory for the httpreply app and clone the repository into it w

[2022-10-22 10:11] MathVerg opened #118 "List index out of range when building"
**Describe the bug**
When building httpreply with kraft I get a python "list index out of range"

**To Reproduce**
Steps to reproduce the behavior:
1. kraft up -t httpreply httpreply
2. Error appears at the beginning of the build phase

**Expected behavior**
I would expect the template to build properly, or at least to get a more descriptive error.

**Screenshots**
![Screenshot_20221022_120917](ht

[2022-10-22 10:19] MathVerg commented on #118
Here is the full stack trace of the build stage :
[code]

[2022-10-22 10:46] MathVerg commented on #118
I found that the problem occurs when parsing the Makefile output, the format is not as expected. This may be due to my Make version (GNU Make 4.3), or to the fact that Make is running in French on my computer.
Here is the end of the "variables" section of the output of `make -pnB -f Makefile.uk` with the Makefile of lwip:
[code]
I guess that in english " stats des tables de hachage de la variable

[2022-10-22 10:54] MathVerg commented on #118
The problematic lines are here : https://github.com/unikraft/kraft/blob/6d046f4dd5ecd2075f927ee01df0fa4e842ca60e/kraft/util/make.py#L56

[2022-10-22 14:21] bttger commented on #117
`modprobe tun` returned `modprobe: FATAL: Module tun not found in directory /lib/modules/5.19.13-1-MANJARO`

[2022-10-22 14:34] jpetrina commented on #117
@bttger This might happen if you had updated the kernel recently, which removed the old kernel modules directory e.g. I have on my machine:
[code]

You could try `modprobe -S <version> ...` command to try and load from the "new" version, otherwise you would have to reboot to load the new kernel.

[2022-10-22 14:37] bttger commented on #117
Thank you @jpetrina! I updated my kernel in the morning and I didn't restart my machine yet. Issue solved after rebooting and loading the module again.

[2022-10-22 14:37] #117 closed, assigned to StefanJum

[2022-10-22 15:17] MathVerg opened #119 "httpreply unreachable when running with kraft"
**Describe the bug**
When running the http-reply image with kraft (with the correct bridges set up), I can't ping the host, but when I run the very same image manually with qemu it works. It works on the computer of @razvand though.

**To Reproduce**
Steps to reproduce the behavior:
1. Get this archive and extract
[bug-run-kraft.zip](https://github.com/unikraft/kraft/files/9844665/bug-run-kraft.zi

[2022-10-23 10:37] MathVerg commented on #118
Working on that

[2022-10-23 12:21] albertoZurini opened #120 "Kraft can't configure app-helloworld-cpp"
**Describe the bug**
Kraft can't configure the app-helloworld-cpp.

**To Reproduce**
Steps to reproduce the behavior:
1. Create folder structure
2. Clone app-helloworld-cpp
3. Clone all the libraries needed
4. Run `kraft configure -p kvm -m x86_64`
5. Get the error: `make: Entering directory '/home/alberto/test/unikraft'
Makefile:179: *** Path to external library "../../libs/libunwind" (L) is not

[2022-10-23 12:24] razvand commented on #120
@albertoZurini , 5 hackathon points awarded.

[2022-11-10 00:02] vaastav opened #122 "Unable to update kraft caches"
**Describe the bug**
Unable to update kraft caches

**To Reproduce**
I ran the command `kraft -v up -p kvm -m x86_64 -t helloworld helloworld`

**Expected behavior**
I expected the helloworld application to be booted properly

**Screenshots**
Here is the complete output
[code]
If I try to not update the caches, then I see the following error

[code]

**Desktop (please complete the following inform

[2022-11-18 16:19] vishwanath1306 opened #123 "Kraft run gives an error for qemu-guest"
**Describe the bug**

I am trying to install and run kraft, but get an error on qemu-guest

**To Reproduce**

1. Installed all the libraries mentioned in README.
2. Downloaded and Installed socat v1.7.7.4 from the link mentioned.
3. Downloaded and installed kraft as mentioned in the tutorial with a minor change. Added `#kraft` at the end of the link.
4. Trying to run hello-world

**Expected behavi

[2022-11-23 15:58] harsh098 opened #124 "`kraft up -t helloworld@staging ./helloworld` not working as expected"
**Describe the bug**
I was following the [USoc'21 baby steps video](https://www.youtube.com/watch?v=uLJeajTITGk) and the [USoc'21 baby steps documentation](https://usoc21.unikraft.org/docs/sessions/01-baby-steps/) .I ran the following command to run the `helloworld` application.

**To Reproduce**
Steps to reproduce the behavior:
1. `kraft up -t helloworld@staging ./helloworld`
2. The output :-
[co